<% 
url = full_url(current_page)
author ||= false
tweet_text = author ? "“#{text}” – @#{author}"  : text
twitter_link_text = author ? "“#{text}” – @#{author}" : text
twitter_link = "http://twitter.com/share?text=#{URI.encode(twitter_link_text)}&url=#{url}"
%>

<div
  class="slpClickToTweet slp-flex slp-flex-wrap slp-justify-end slp-text-grayscale-gray3 slp-font-normal slp-text-md slp-leading-10 slp-py-6 slp-px-8 slp-shadow-md slp-max-w-prose slp-w-11/12 slp-rounded slp-mx-auto"
>
  <p class="slpClickToTweet__body slp-mb-6"><%= tweet_text %></p>
  <a
    href="<%= twitter_link %>"
    class="slpClickToTweet__anchor slp-flex slp-items-center slp-text-xs slp-leading-10"
    title="Tweet!"
    target="_blank"
    rel="nofollow"
  >
    <svg
      width="16"
      height="13"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="slpClickToTweet__logo slp-mr-4"
    >
      <path
        d="M7.769 3.3l.035.537-.578-.066C5.12 3.52 3.283 2.665 1.723 1.231L.96.519l-.197.525c-.416 1.172-.15 2.41.717 3.242.462.46.358.526-.44.252-.277-.088-.52-.153-.543-.12-.08.076.197 1.073.416 1.467.3.548.914 1.084 1.584 1.402l.567.252-.67.01c-.648 0-.671.012-.602.242.231.711 1.144 1.467 2.162 1.796l.717.23-.625.35a6.835 6.835 0 01-3.098.81c-.52.011-.948.055-.948.088 0 .11 1.41.723 2.231.964 2.463.712 5.388.405 7.584-.81 1.56-.866 3.122-2.585 3.85-4.25.393-.887.786-2.508.786-3.285 0-.504.035-.57.682-1.172.382-.35.74-.734.81-.843.115-.208.104-.208-.486-.022-.983.328-1.122.284-.636-.208.358-.35.786-.986.786-1.172 0-.033-.173.022-.37.12-.208.11-.67.274-1.017.373l-.624.186-.567-.362c-.312-.197-.751-.416-.983-.481-.59-.154-1.49-.132-2.023.043C8.578.64 7.665 1.91 7.77 3.3z"
        fill="#1DA1F2"
      ></path>
    </svg>
    Click to tweet
  </a>
</div>